
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

.ise{
    width:20px;
    height:20px;
    background-color:  #0a0a0a;
    position: fixed;
    
    transform: translateY(4500px);
}
body {
    background-color: #0a0a0a;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
/*body{
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    height: 3000px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transform-style: preserve-3d;
}*/
.up{
    color: red;
    font-size: 50px;
    transform:translateY(-1633px);
    position:fixed;
    display: inline-block;
}


.ise2{
    width: 20px;
    height: 20px;
    background-color: #0a0a0a;
    transform: translate(0px, 10px);
    
}
html {
    height: 100vh;
    overflow: hidden;
   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
header{
    background-color: #0a0a0a;
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 3px solid rgb(253, 33, 33);
    align-items: center;
    justify-content: center;
}

/*სქროლი*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 12px #e7a412;

}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:  #D80F17;

}
/*სქროლის დამთავრება*/
a{
    text-decoration: none;
}
/*აქ გავაკეთე ნავიგაცია*/
header{
    height: 100px;
    
}
.top{
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding: 0 5px;
    color:#a0a0a0;
}
.top:after{
    content: "";
    position: absolute;
    background-color: #ff3c3c;
    height: 3px;
    width: 0;
    bottom: -10px;
    left: 0px;
    transition: 0.3s;
}
.top:hover{
    color: #ffffff;
}
.top:hover:after{
    width: 100%;
}
.topO{
    align-items: center;
    margin-left: 0px;
    transform: translateY(-40px);
    width: 1200px;
    height: 90px;
    display: inline-block;
    margin: auto;

}

@media (max-width:1500px) {
    .top{
        display: block;
    }
}
/*აქამდე ნავიგაცია*/
/*აქედან რეგისტრაცია ნავიგაციის გვერდით*/

.login{
    background: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 0px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
} 
.login0{
    margin-left: 50px;
}
.ulI{
    align-items: center;
    justify-content: center;
}


.login1{
    color:#a0a0a0;
}
.login1:hover{
    color: #ffffff;
}
.login::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #ff3c3c;
    z-index: -1;
    transition: 0.4s;
}
.login1::before{
    bottom: 0;
    border-radius: 30px 30px 30px 30px;
}
@media (max-width:1500px) {
    .login{
        display: block;
    }
}
.login1:hover::before{
    height: 100%;
}
/*აქ დამთავრდა რეგისტრაცია ნავიგაციაში*/
/*ლოგო*/
.car{
    display: inline-block;
    
    height: 100px;
    cursor: pointer;
}
@media (max-width: 1900px){
    .car{
        margin-left: 30px;
    }
}
/*საიტის წარმოდგენა*/
.auto{
    color: #c69a39;
}
.euro{
   color: #D80F17;
}

.euro{
    font-size: 60px;
}
.auto{
    font-size: 30px;
}
@media (max-width: 628px) {
    .euro{
        font-size: 30px;
    }
    .auto{
        font-size: 15px;
    }
}
.euroO{
    width: 628px;
}
@media (max-width: 590px) {
    .euroO{
        width: 90%;
    }
}
.showO{
    width: 600px;
    height: 700px;
    display: inline-block;
    margin-top: 80px;
}
.show{
    width: 100%;
    height: 700px;
    justify-content: space-between;
    margin-top: 150px;
}
.yes{
    color:#cbccc7;
    display:inline-block;
}
.yes1, .yes2{
    display:inline-block;
    color: #ffffff;
}
.moneycar{
    display: inline-block;
    transform: translate(00px, 0px);
}
@media (max-width: 782px) {
    .moneycar{
        width: 90%;
    }
}
.moreO{
    transform: translate(0px, 70px);
    display: inline-block;
}
.more{
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.more{
    color: #ffffff;
}
.more::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ff3c3c;
    z-index: -1;
    transition: 0.4s;
}
.more::before{
    bottom: 0;
    border-radius: 30px 30px 30px 30px;
}

.more:hover::before{
    height: 100%;
}
.euroO{
    box-sizing: border-box;
}
@media (max-width: 700px) {
    .showO{
        width: 90%;
    }
}
.euroO{
    box-sizing: border-box;
}
/*საიტის წარმოდგენის ბოლო*/
/**/
.wrapperO{
    transform: translateY(200px);
}
.bugati{
    width: 400px;
    height: 600px;
   
}
.servisebitext{
    font-size: 60px;
    transform: translate(0px, 100px);
    display: inline-block;
    color: white;
}
.bugati::after{
    background-image:linear-gradient(to bottom, yellow, green); 
}
.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    transform: translate(0px, 200px);
}
@media (max-width:1132px) {
    .wrapper{
        display: block;
        
    }
    .card{
        margin-bottom: 50px;
    }
}
.card{
    width: 300px;
    height: 400px;
    padding: 2rem 1rem;
    background: burlywood;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 5px 8px red;
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
    z-index: 0;
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255, 179, 0), rgb(207, 37, 14));
    z-index: 2;
    transform: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: .5;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color:rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(30px);
    transform: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(-20px);
}
.btn{
    text-decoration: none;
    color:cornsilk;
    font-size: 30px;
    margin-left: 15px;
}
.meti{
    width: 100px;
    height: 40px;
    background-color: darkorange;
    border-radius: 10px;
}
.meti:hover{
    background-color: darksalmon;
}
.card1O{
    transform: translate(0px, 400px);
    padding: 50px;
}
.card1{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translate(0px, 600px);
}
.card1 .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    align-items: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);

}
.card1{
    display: inline-block;
    margin-right: 30px;
}
.face{
    border-radius: 20px;
}
.card1 .face.front{
    background: #ff0;
}
.card1:hover .face.front{
    transform: perspective(500px) rotateY(180deg);

}
.card1 .face.back{
    background: #3bc2ff;
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}
.card1:hover .face.back{
    transform: perspective(500px) rotateY(360deg);

}
 .card1 .face .zet{
    transform: perspective(500px) translatez(20px);
    font-size: 40px;
}
.card1 .face .nissan{
    transform: perspective(500px) translatez(20px);
    font-size: 40px;
}
.card1 .face .zet1{
    transform: perspective(500px) translatez(20px);
    font-size: 15px;
}
.card1 .face .buymore{
    transform: perspective(500px) translatez(20px);
    font-size: 20px;
}
.zet{
    margin-left: 20px;
    margin-top: 60px;
}
.zet1{
    margin-left: 5px;
}
.buymore{
    margin-top: 10px;
    background-color: gold;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
.nissan{
    width: 250px;
    height: 180px;
}
.bestseller{
    font-size: 50px;
    color: white;
    transform: translate(0px, 850px);
    display: inline-block;
}
.morecarO{
    transform: translate(840px, 1100px);
    display: inline-block;
}
.morecar{
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.morecar{
    color: #ffffff;
}
.morecar::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ff3c3c;
    z-index: -1;
    transition: 0.4s;
}
.morecar::before{
    bottom: 0;
    border-radius: 30px 30px 30px 30px;
}
.morecar:hover::before{
    height: 100%;
}
/*აქ დამთავრდა მანქანების ბესთსელერი*/
.siaxleebiO{
    transform:translate(0px, 1700px);
}
.siaxleebi1{
    width: 400px;
    height: 700px;
    border: 3px solid #D80F17;
    display: inline-block;
    margin: 10px;
    background-color:  #c69a39;
    border-radius: 30px;
    box-shadow: 5px 5px 10px red;
} 
.merstext{
    color: white;
    font-size: 40px;
}
.dato{
    font-size: 20px;
    color: white;
}
.mersedes{
    width: 380px;
    margin-left: 10px;
}
@media (max-width: 700px) {
    .siaxleebi1{
        width: 300px;
        height: 500px;
    }

}
@media (max-width: 700px) {
    .merstext{
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    
    .dato{
        font-size: 15px;
    }
    
}
@media (max-width: 700px) {
    .mersedes{
        width: 280px;
    }
}


.siaxleebi5{
    transform: translate(0px, 1600px);
    font-size: 30px;
    color: white;
    display: inline-block;
}

#4645{
    width: 30px;
    height: 30px;
    background-color: red;
    transform: translate(0px, -300px);
}
/*aqedan iwyeba form*/
.form{
    transform: translate(0px, 2000px);
}
.shesvla{
    font-size: 40px;
    color: white;
}
.asi{
    display: inline-block;
    transform: translate(0px, -80px);
}
.box{
    width:800px;
    height: 600px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-400px, 0px);
    background: #191919;
    text-align: center;
    border-radius: 30px;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"], .box input[type ="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #db8d34;
    padding: 15px 30px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
    font-size: 20px;
}
.box input[type = "text"]:focus, .box input[type ="password"]:focus{
    width: 390px;
    border-color: #cc2e2e;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #db7827;
    padding: 15px 50px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    
}
.box input[type = "submit"]:hover{ 
    background-color: #cc2e2e;  
}
.or{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}
.kont{
    color: white;
    font-size: 30px;

}
.tel{
    color: white;
    font-size: 20px;
}
.kontO{
    display: inline-block;
    transform: translate(0px, 3000px);
    
}
.map{
    display: inline-block;
}
ul{
    display: inline-block;
    margin-right: 30px;
}
.linksO{
    color: white;
    font-size: 35px;
    list-style: none;
    cursor: pointer;
}
.links{
    color: white;
    font-size: 25px;
    list-style: none;
    cursor: pointer;
}
.links:hover, .linksO:hover{
    color:rgb(255, 115, 0)
}
.logo2{
    width: 150px;
    transform: translate(1100px, -400px);
}
.linksOO{
    transform: translate(0px, 400px);
}

.paymenttext{
    font-size: 24px;
    color: white;
}
.payment{
    display: inline-block;
    transform: translate(0px, 2600px);
}
.american{
    transform: translateY(8px);
}
.american, .visa, .master{
    padding-right: 20px;
}
.kt{
    font-size: 30px;
    color: #0a0a0a;

}
.ktO{
    transform: translateY(2800px);
}
@media(max-width: 800px) {
 .payment{
     margin-top: 50px;
 }
}
@media (max-width: 720px) {
    .map{
        width: 100%;
        height: 300px;
    }

}
